{% extends 'base.html' %}

{% block content %}
<h1>Home</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum suscipit sed molestias dolorum doloremque rem!
    Quis consequatur tempora possimus labore libero dolore, corporis veritatis soluta inventore pariatur incidunt cum
    alias nostrum, odio tempore at perferendis reprehenderit. Repellat ducimus laudantium consequatur illum esse error
    molestias quibusdam, sapiente libero obcaecati at repellendus culpa distinctio porro natus, officiis aliquid quidem
    et labore, quisquam voluptate. Nostrum nesciunt itaque, ad soluta voluptatum vitae culpa totam repellat. Quo earum
    magnam quae ex voluptates architecto quidem perferendis atque doloremque expedita. Iusto amet eius, explicabo
    consequuntur voluptas voluptatibus. Nam repudiandae ea beatae aliquam ratione, ducimus cum quaerat fugit. </p>


{% endblock %}